ngb-progressbar {
  margin-top: 10px;
  padding-top: 10px;
  height: 25px;
}

th, td {
  text-align: center;
}

.btn {
  border-radius: 5px;
}

#search {
  margin-top: 2em;
}

#search-form input {
  width: 200px;
  display: inline;
}

#search-results {
  margin-top: 20px;
}
